<html>
<?xml version="1.0" encoding="UTF-8"?>
<head>
<link href="stylesheets/rstyle.css" rel="stylesheet" type="text/css">
<title>P3 Settings</title>
</head>
<body>


<form method="post">
	
	<div class="cbutton" >
	<embed src = "content/Rset1.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "Rset1" class ="rbtn">
	</div>
	
	<div class="cbutton" >
	<embed src = "content/Rset2.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "Rset2" class ="rbtn">
	</div>

	<div class="cbutton" >
	<embed src = "content/CBset3.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "CBset3" class ="rbtn">
	</div>
	
	<div class="cbutton" >
	<embed src = "content/d3set10.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "d3set10" class ="rbtn">
	</div>
	
	<div class="cbutton" >
	<embed src = "content/d3set20.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "d3set20" class ="rbtn">
	</div>	
	<div class="cbutton" >
	<embed src = "content/d3set20b.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "d3set20b" class ="rbtn">
	</div>	
	
	<div class="cbutton" >
	<embed src = "content/d3set20c.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "d3set20c" class ="rbtn">
	</div>	
	
	<div class="cbutton" >
	<embed src = "content/Rset3.svg" type = "image/svg+xml" onmouseout="this.style.opacity=1;" 
                onmouseover="this.style.opacity=0.6;">
	<input type ="radio" name="cSet" value = "Rset3" class ="rbtn">
	</div>	
	<input type="submit">
</form>



</body>






</html>