<html>
	<head>
		<title>Plot3</title>
	</head>
	<style>
		#signupForm {
		height: auto;
		position:relative;
		top: -200px;
		left: -20px;
		}
		#signupContainer {
		width: 350px;
		height: 280px;
		margin-left: auto;
		margin-right: auto;
		}
		label {
		display: block;
		width: 300px;
		float: left;
		margin: 2px 4px 6px 4px;
		text-align:right;
		}
		#logtext {
		height:30px;
		top:-230px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		}
	</style>
	</body>
	<div id="signupContainer">
	<embed src = "content/Signup.svg" type = "image/svg+xml">
	<div id = "signupForm">
	<form method = "post">
		<label>
			Username
		
			<input name = "username" type = "text" value={{Uname}}>{{w1}}
		</label>
		</br>
		<label>
			Password
		
			<input name = "password" type = "password">{{w2}}
		</label>
		</br>
		<label>
			Retype password
		
			<input name = "verify" type = "password">{{w3}}
		</label>
		</br>
		<label>
			Email (optional)
		
			<input name = "email" type = "text" value={{Uem}}>{{w4}}
		</label>
		</br>
		<label>
		<input type="submit">
		</label>
	</form>
	
	</div>
	</div>
	<div id="logtext">
	Already a Plot3 user?<a href="/login"> Login</a>
	</div>
	
	</body>
</html>