@font-face {
	font-family: ('MyriadPro-Regular'),
	src: url('fonts/MyriadPro-Regular.ttf ') format("truetype");
}

header {
	background-color: #EEE;
	border-bottom: 20px solid #CCC;
}

header h1 {
	padding: 0px;
	margin: 0px;

	padding-top: 75px;
	padding-bottom: 25px;

	text-align: center;

	color: #111;

	font-family: 'Lato', sans-serif;
	font-size: 140px;
}
#title_num {
	color: #fe5867;
}

header nav {
	vertical-align: bottom;
	width: 100%;

	overflow: none;
	clear: all;

	height: 200px;

	position: absolute;
	bottom: 20px;
}
header nav ul {
	list-style: none;

	padding: 0px;
	margin: 0px;
}
header nav ul li {
	float: left;
	width: 50%;
}
header nav ul li a {
	display: inline-block;

	width: 99.99%;
	height: 200px;
	line-height: 200px;

	color: #111;

	text-decoration: none;
	text-align: center;

	font-family: 'Lato', sans-serif;
	font-size: 60px;
}
header nav ul li a:hover {
	background-color: #DDD;
	text-decoration: underline;
}

article h1 {
	padding: 0px;
	margin: 0px;

	padding-top: 75px;
	padding-bottom: 75px;

	text-align: center;

	color: #111;

	font-family: 'Lato', sans-serif;
	font-size: 100px;
}

#introsvg {
	width: 90%;

	margin-left: 5%;
}
#introsvg object,embed,svg {
	height: 100%;
	width: 100%;
}

#login_frontpage {
	position: absolute;
	
	right: 10px;
	top: 10px;

	z-index: 100;
}
#login_frontpage_text {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: #999;

	position: absolute;
	
	right: 95px;
	top: 20px;

	z-index: 100;
}

#plot_frontpage {
	position: absolute;
	
	right: 10px;
	top: 60px;

	z-index: 100;
}
#plot_frontpage_text {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: #999;

	position: absolute;
	
	right: 95px;
	top: 70px;

	z-index: 100;
}

#header_text {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	color: #777;
	z-index: 100;
	font-size: 24px;
}