html {
	width:100%;
	height:100%;
}

body {
	padding: 0px;
	margin: 0px;
	width:100%;
	height:100%;
}

footer{
	text-align:right;
}

.button {
	margin: 0;
	
	border: 0px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;

	height: 40px;
	line-height: 20px;

	vertical-align: top;

	background-color: #111;

	color: #FFF;

	font-size: 16px;
	font-family: 'Lato', sans-serif;

	cursor: pointer;
}
.button:hover {
	background-color: #444;
}

.textbox {
	margin: 0px;

	border: 1px solid #111;

	padding: 5px;

	width: 160px;

	font-size: 14px;
	font-family: 'Lato', sans-serif;

	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}
.textbox.long {
	width: 210px;
}
.textbox:focus {
	outline-width: 0;

	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}

.textarea {
	width: 240px;
	height: 150px;

	border: 1px solid #111;

	padding: 5px;

	font-size: 14px;
	font-family: 'Lato', sans-serif;

	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}
.textarea:focus {
	outline-width: 0;

	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}

label {
	display: block;

	margin-top: 5px;
	margin-bottom: 3px;

	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
}