<!DOCTYPE html>
<html>
	<head>
		<title>Plot3 Add Data</title>

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/global_style.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link href="javascript/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/jquery.handsontable.css" rel="stylesheet" type="text/css" />

		<script src="javascript/jquery.js" type="text/javascript"></script>
		<script src="javascript/d3.v2.js" type="text/javascript"></script>
		<script src="javascript/nv.d3.js" type="text/javascript"> </script>
		<script src="javascript/sankey.js" type="text/javascript"></script>
		<script src="javascript/jquery.handsontable.js" type="text/javascript"></script>

		<script type="text/javascript">
			function get_random_color() {
				var letters = '0123456789ABCDEF'.split('');
				var color = '#';
				for (var i = 0; i < 6; i++ ) {
					color += letters[Math.round(Math.random() * 15)];
				}
				return color;
			}

			$(document).ready(function() {
				var rand_color = get_random_color().toString();
				var state = "input";

				$('#title_num').css('color', rand_color);
				$('.emph').css('color', rand_color);

				$('article a').css('color', rand_color);
				$('article a').hover(function() {
					$(this).css('color', '#666');
				}, function() {
					$(this).css('color', rand_color);
				});

				$('footer a').css('color', rand_color);
				$('footer a').hover(function() {
					$(this).css('color', '#666');
				}, function() {
					$(this).css('color', rand_color);
				});

				$('.textbox').focus(function() {
					$(this).css('border-color', rand_color);
				});
				$('.textbox').blur(function() {
					$(this).css('border-color', '#111');
				});

				$('.textarea').focus(function() {
					$(this).css('border-color', rand_color);
				});
				$('.textarea').blur(function() {
					$(this).css('border-color', '#111');
				});

				$('.handsontable .htBorder.current').css('background-color', rand_color);
				$('.handsontable .htBorder.selection').css('background-color', rand_color);
				$('.handsontable .htFillHandle').css('background-color', rand_color);

				var catList = '';
				$('#catbutton').click(function() {

					if($('#cats').val() != '' && $('#cats').val() != ' ') {
						catList = catList + $('#cats').val() + ',';
						$('#catholder').append('<div id="catadded">' + $('#cats').val() + '<input type="button" class="button inline removecat" value="X" /></div> ');
						$('#cats').attr('value', '');
						 //find the form input and append to it
					}

					$('.removecat').click(function() {
						//alert($(this).closest('#catadded').text())
						catList = catList.replace(','+ $(this).closest('#catadded').text(),'');
						$(this).closest('#catadded').remove();
					});
				});

				$('#subBtn').click(function(){			//When form is submitted make final changes
					strLen = catList.length;
					catList = catList.slice(0,strLen-1); //remove the last comma
					if (catList != '' && catList != ' ') {
					$("#cats").attr('value', catList); } //put the categories back in the field
					
				})

				$('#upload_in').click(function() {
					state = "upload";

					$('#preview_sh').css('visibility', 'hidden');

					$('#csv_fileupload').css('visibility', 'inherit');
					$('#csv_fileupload').css('height', '45px');

					$('#csv_maninput').css('visibility', 'hidden');
					$('#csv_maninput').css('height', '0px');
				});
				$('#input_in').click(function() {
					state = "input";

					$('#preview_sh').css('visibility', 'inherit');

					$('#csv_fileupload').css('visibility', 'hidden');
					$('#csv_fileupload').css('height', '0px');

					$('#csv_maninput').css('visibility', 'inherit');
					$('#csv_maninput').css('height', 'auto');
				});

				function upd_addrow_w() {
					$('.addrow').css('width', ($('.htBlockedRows').width()-10).toString() + 'px');
				}


				upd_addrow_w();
				//hide the tFormat box initially
				$('input[name="tFormat"]').css('visibility','hidden')

				$('input[name="XF"]').change(function(){
					//document.write('CHANGE')
					xfState = $('input[name="XF"]:checked').val();
					if (xfState=='strf') {$('input[name="tFormat"]').css('visibility','visible');}
					else {$('input[name="tFormat"]').css('visibility','hidden');}
				})
				
			});
		</script>

		<style>
			#tFormat span { display: none; color: #FFFFFF; }
			#tFormat:hover span { display: block; position: absolute; width: 300px; background-color: #aaa; height: 120px; left: 120px; top: -10px; color: #FFFFFF; padding: 5px; font-size:14px;}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1 id="header_title"><a href="/">Plot<span id="title_num">3</a></span></h1>

				<nav>
					<ul>
						<li><a href="/contact">Contact</a></li>
						{% if loggedIn == True %}
						<li><a href="/logout" class="emph">Log Out ({{UN}})</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>
			<article>
				<h1>Add New Data</h1>
				<form id="dataForm"  method="post">
					<div class="col_one">
						{% if loggedIn == True %}
						<label>Categories</label>
						<div id="catholder">

						</div>

						<label for="cats">*Add New Category</label> <span style="color: red">{{warn2}}</span>
						<input name="cats" id="cats" type="text" class="textbox" /> <input id="catbutton" type="button" class="button inline" value="+" />
						{% endif %}

						<label for="title">*Title</label><span style="color: red">{{warn1}}</span>
						<input name="title" type="text" class="textbox" />
						
						<label for="description">Description</label>
						<textarea name="description" rows="2" class="textbox"></textarea>

						<label for="xlabel">Label for X Axis</label>
						<input name="xlabel" type="text" class="textbox" />
						
						<label for="ylabel">Label for Y Axis</label>
						<input name="ylabel" type="text" class="textbox" />

						<input type="hidden" name="plotData" id="plotData">
							
						
						<!--<input type="radio" name="inputtype" id="upload_in" value="upload" /> Upload CSV File 

						<input type="radio" name="inputtype" id="input_in" value="input" checked/> Input Data Manually -->

						<div type="hidden" id="csv_fileupload" style="visibility: hidden; height: 0px;">
							<label>Upload CSV</label>
							<input type="file" name="csvfile" id="csvfile" />
						</div>

						<div id="csv_maninput" >
							<label>Input Data</label>
							<div id="inputdata_man">

							</div>
							<small>Table plugin by <a href="http://handsontable.com/">http://handsontable.com/</a></small>
							<script>
								$("#inputdata_man").handsontable({
									startRows: 6,
									startCols: 5,
									rowHeaders: true,
									colHeaders: true,
									minSpareRows: 1,
									minSpareCols: 1,
									fillHandle: true,
									//possible values: true, false, "horizontal", "vertical"
								});

								var data = [
									["", "set1", "set2", "set3", "set4"],
									[1,	100, 110, 220, 330],
									[2, 200, 310, 140, 130],
									[3, 400, 150, 320, 270],
									[4, null, null, null, null],
									[5, null, null, null, null]
								];

								$("#inputdata_man").handsontable("loadData", data);
								$(document).ready(function() {

								

							
								var	g_data = [{"key": "set1", "values": [[1.0, 100], [2.0, 200], [3.0, 400]]},
								{"key": "set2", "values": [[1.0, 110], [2.0, 310], [3.0, 150]]},
								{"key": "set3", "values": [[1.0, 220], [2.0, 140], [3.0, 320]]},
								{"key": "set4", "values": [[1.0, 330], [2.0, 130], [3.0, 270]]}];
								

								var chart;

								var d3_colorset = ['#A7CEE2', '#2078B4', '#B4D88B', '#34A048', '#F69999', '#E21F26', '#FDBF6E', '#F57E20'];
				
								d3.scale.colorset = function() {
									return d3.scale.ordinal().range(d3_colorset);
								};
			
								function addChart(newState){
									if (newState == 'line')
									{	$('#preview_chart').empty();

										//$('#preview_chart').append('svg');
										nv.addGraph(function() {
										chart = nv.models.lineChart()
													.x(function(d) { return d[0] })
													.y(function(d) { return d[1] }) 
													.color(d3.scale.colorset().range());
			 
										chart.xAxis
											.tickFormat(d3.format(',r'));


										chart.yAxis
											.tickFormat(d3.format(',r'));

				 
										d3.select('#preview_chart').append('svg')
											.datum(g_data)
											.transition().duration(200)
											.call(chart);
					 
										nv.utils.windowResize(chart.update);

										return chart;
										});
									}
									else if (newState =='bar')
									{	$('#preview_chart').empty();

										//$('#preview_chart').append('svg');
										nv.addGraph(function() {
											chart2 = nv.models.multiBarChart()
												.x(function(d) { return d[0] })
												.y(function(d) { return d[1] }) 
												.color(d3.scale.colorset().range());

											chart2.yAxis
												//.axisLabel('')
												.tickFormat(d3.format(',r'));

												d3.select('#preview_chart').append('svg')
												.datum(g_data)
												.transition().duration(50)
												.call(chart2);

											nv.utils.windowResize(chart2.update);
											return chart2;
										});
									}
									else if (newState =='noPreview')
									{	$('#preview_chart').empty(); }
										
									}


								state ='line';	// add the initial plot				
								addChart(state);


								function previewState() {
									cur_state = $('input[name="charttype"]:checked').val();

									if (typeof g_data[0].values[0][0] ==='string' && cur_state =='line')
									{
										cur_state = 'bar';
										$('#ct_bar').attr('checked',true);
									}

									if (cur_state != state) // change the plot if the new state is diff
									{
										addChart(cur_state);
										state = cur_state;
									}
									
									return cur_state
								}

								function redraw() {
									state = previewState();
									
										if (state == 'line')
										{	//$('#preview_chart svg').remove()
										 	d3.select('#preview_chart svg')
										 	.datum(g_data)
										 	.transition().duration(200)
										 	.call(chart);
										 	//nv.utils.windowResize(chart.update);
										}
										else if (state =='bar')
										  {	
											d3.select('#preview_chart svg')//.append('svg')
											.datum(g_data)
											.transition().duration(50)
											.call(chart2);
										 	//nv.utils.windowResize(chart2.update);
										 }

								}



								setInterval(function() {
									data = $("#inputdata_man").data('handsontable').getData();

									g_data = Array();

									numcols = 4;
									curcol = 1;

									while(data[0][curcol] != undefined && data[0][curcol] != '') {
										if(data[0][curcol] != "") {
											data_col = {
												"key": data[0][curcol],
												"values": []
											};

											var rows_down = 1;

											while(data[rows_down][curcol] != undefined && data[rows_down][curcol] != '') {
												if (isNaN(parseFloat(data[rows_down][0])))
													{ x = data[rows_down][0]; }
												else
													{ x = parseFloat(data[rows_down][0]); }
												
												data_col.values.push([
													x,
													parseFloat(data[rows_down][curcol])
												]);

												rows_down++;
											}
											g_data.push(data_col);
										}

										curcol++;
									}

									redraw();

								},500)

								$('#subBtn').click(function(){			//When form is submitted make final changes	
									var g_data_out = JSON.stringify(g_data);
									$('#plotData').attr('value',g_data_out);
								});
							});//]]>	

							</script>
						</div>

						<br /><br />

						<div id="data_preview"></div>
						<div id="message"></div>
					</div>
					<div class="col_two">
						<label for="XF">X axis format</label>
						<input name="XF" type="radio" value="0d" /> 1234
						<br />
						<input name="XF" type="radio" value="1d" /> 1234.5
						<br />
						<input name="XF" type="radio" value="2d" /> 1234.56
						<br />
						<input name="XF" type="radio" value="3d" /> 1234.567
						<br />
						<input name="XF" type="radio" value="strf" /> Time Format
						<div id="tFormat">
							<input name="tFormat" type="text" class="textbox" />
							<span>Selecting 'Time Format' will allow you to enter time in milliseconds since the epoch. </br>
								A date can also be interpreted according to the format entered in the box (See time.strftime in the Python documentation). The year must be included.</br>
								January-13-1986 = %B-%d-%Y</span>
						</div>
						<br />
						<label for="YF">Y axis format</label>
						<input name="YF" type ="radio" value ="0d" /> 9876
						<br />
						<input name="YF" type ="radio" value ="1d" /> 9876.5
						<br />
						<input name="YF" type ="radio" value ="2d" /> 9876.54
						<br />
						<input name="YF" type ="radio" value ="3d" /> 9876.543
						<br />
						<br />
						<input type="submit" name="submit" value="Add Data" class="button" id="subBtn"/>
						<input type="button" name="cancel" value="Cancel" onmouseup="window.location = '/'" class="button" />

						<br />
						<br />

						<div id="preview_sh" style="visibility: inherhit;"><label>Preview</label>
							<div id="preview_chart">
								<svg id="preview_chart_svg" />
							</div>

							<br />
							
							<input type="radio" name="charttype" id="ct_line" value="line" checked/> Line Chart <br />
							<input type="radio" name="charttype" id="ct_bar" value="bar" /> Bar Graph <br />
							<input type="radio" name="charttype" id="ct_noPreview" value="noPreview" /> No Preview <br />
							
							
						</div>
						<script type="text/javascript">
							function getParameterByName(name) {
								name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
								var regexS = "[\\?&]" + name + "=([^&#]*)";
								var regex = new RegExp(regexS);
								var results = regex.exec(window.location.search);
								if(results == null)
									return "";
								else
									return decodeURIComponent(results[1].replace(/\+/g, " "));
							}
						</script>

						<script type="text/javascript">
							//<![CDATA[ 
							
						</script>
					</div>
				</form>
			</article>
			<footer>
				Powererd by  <a href="https://github.com/mbostock/d3/wiki">D3</a> and <a href="http://nvd3.com/">NVD3</a>.
			</footer>
		</div>
	</body>
</html>