<style type="text/css">
	#Chart{{id}} {
		position: absolute;

		top: {{item.top}};
		left: {{item.left}};

		width: {{item.w}};
		height: {{item.h}};

		padding: 5px;

		color: white;
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		border-style:solid;
		border-width:5px;
		border-color:{{color}};
		opacity:1.0;
		background-color:rgba(0,0,0,0.5);
	}
	#Chart{{id}} svg text {
		color:white;
	}
	#titlebox {
		margin-top: 2px;
		display: inline-block;

		font-family: 'Lato', sans-serif;
	}
	.ui-resizable-helper {
		border: 2px dotted #00F;
	}

</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#Chart{{id}}").resizable({
			helper: "ui-resizable-helper",
			//ghost:true,
			//animate:true,
			//animateDuration: "fast",
			//start: function(event,ui) {
			//	$("#Chart{{id}}").hide();
			//},
			stop: function(event, ui) {
				var res ='';
				res = ui.size;
				$("#{{id}}res").remove();
				var inputres = '<input type="hidden" name="{{id}}res" id="{{id}}res" value="'+res.width+','+res.height+'"/>';
				$('#posForm').append(inputres);
				//$("#Chart{{id}}").show();
				$("#Chart{{id}}").trigger('resize');

			}
		});

		$("#Chart{{id}}").draggable({
			containment: [0,0,1910,1190],
			stop: function(event, ui) {
				var pos ='';
				pos = ui.position;
				$("#{{id}}pos").remove();
				var inputpos = '<input type="hidden" name="{{id}}pos" id="{{id}}pos" value="'+pos.left+','+pos.top+'" />';
				$('#posForm').append(inputpos);
			}
		});
	});
</script>

<div id="Chart{{id}}" class="dashChart">
	<span id="titlebox">{{title}}</span> 
	<svg></svg>
</div>

{% if ptype == 'line' %}
<script type="text/javascript">
	data{{id}} = {{plotData}};

	var d3_colorset{{id}} = {{colorset}};
	
	d3.scale.colorset{{id}}  = function() {
		return d3.scale.ordinal().range(d3_colorset{{id}});
	};	
	
	nv.addGraph(function() {
     var chart = nv.models.lineChart()
                   .x(function(d) { return d[0] })
                   .y(function(d) { return d[1] }) 
                   .color(d3.scale.colorset{{id}} ().range());
 
      chart.xAxis
         .axisLabel('{{xlabel}}')
		 .tickFormat({{XF}});
		 //.tickFormat(d3.format('0.1f'));
		 //.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
 
     chart.yAxis
		 .axisLabel('{{ylabel}}')
         .tickFormat({{YF}});
 
     d3.select('#Chart{{id}} svg')
         .datum(data{{id}})
       .transition().duration(500)
         .call(chart);
 
     //TODO: Figure out a good way to do this automatically
     nv.utils.windowResize(chart.update);
     return chart;
   });
</script>

{% elif ptype == 'area' %}

<script type="text/javascript">
	data{{id}} = {{plotData}};
	
	var d3_colorset{{id}} = {{colorset}};
	
	d3.scale.colorset{{id}} = function() {
		return d3.scale.ordinal().range(d3_colorset{{id}});
	};	
	

	nv.addGraph(function() {
	  var chart = nv.models.stackedAreaChart()
					.x(function(d) { return d[0] })
					.y(function(d) { return d[1] })
					.color(d3.scale.colorset{{id}}().range())
					//.clipEdge(true);

	  chart.xAxis
		  .axisLabel('{{xlabel}}')
		  .tickFormat({{XF}});
		  //.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

	  chart.yAxis
		  .tickFormat({{YF}})
		  .axisLabel('{{ylabel}}');

	  d3.select('#Chart{{id}} svg')
		.datum(data{{id}})
		  .transition().duration(500).call(chart);

	  nv.utils.windowResize(chart.update);

	  return chart;
	});
</script>

{% elif ptype == 'bar' %}

<script type="text/javascript">
	data{{id}} = {{plotData}};

	var d3_colorset{{id}}  = {{colorset}};
		
	d3.scale.colorset{{id}} = function() {
		return d3.scale.ordinal().range(d3_colorset{{id}});
	};	
	nv.addGraph(function() { 

		  var chart = nv.models.multiBarChart()
		   .x(function(d) { return d[0] })
		   .y(function(d) { return d[1] })
		   .color(d3.scale.colorset{{id}}().range());
		   
			{% if xflag %}
			
			{% else %}
			chart.xAxis
			.axisLabel('{{xlabel}}')
		    .tickFormat({{XF}});
			{% endif %}

			chart.yAxis
			.tickFormat({{YF}})
			.axisLabel('{{ylabel}}');

		  d3.select('#Chart{{id}} svg')
			  .datum(data{{id}})
			.transition().duration(500)
			  .call(chart);

		  nv.utils.windowResize(chart.update);

		  return chart;
		});
</script>

{% elif ptype == 'scatter' %}

<script type="text/javascript">
	data{{id}} = {{plotData}};

	var d3_colorset{{id}} = {{colorset}};
	var shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'];
	var set_len = data{{id}}[0].values.length;

	var shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'];
	
	for (i=0; i<data{{id}}.length; i++) {
		for (j = 0; j < data{{id}}[i].values.length; j++) {
	      data{{id}}[i].values[j].shape = data{{id}}[i].shape;
	    }
	}
	
	d3.scale.colorset{{id}} = function() {
		return d3.scale.ordinal().range(d3_colorset{{id}});
	};	

	nv.addGraph(function() {
		var k=0,
			j=0;
	  var chart = nv.models.scatterChart()
					.showDistX(true)
					.showDistY(true)
					.color(d3.scale.colorset{{id}}().range())
					.x(function(d) { return d[0] })
					.y(function(d) { return d[1] }) 
					.size(function(d){ return d[1]});
					//.shape(function(d,i) {if (k==set_len){k=0; j++;} k++; return shapes[j % 6];});

	  chart.xAxis
	  .tickFormat({{XF}})
	  .axisLabel('{{xlabel}}');
	  
	  chart.yAxis
	  .tickFormat({{YF}})
	  .axisLabel('{{ylabel}}');

	  d3.select('#Chart{{id}} svg')
		  .datum(data{{id}})
		.transition().duration(500)
		  .call(chart);

	  nv.utils.windowResize(chart.update);

	  return chart;
	});
</script>

{% elif ptype == 'pie' %}

<script type="text/javascript">
	data{{id}} = {{plotData}};

	var d3_colorset{{id}} = {{colorset}};
	
	d3.scale.colorset{{id}} = function() {
		return d3.scale.ordinal().range(d3_colorset{{id}});
	};	

	nv.addGraph(function() {
		var width = window.height,
			height = window.width;


		var chart = nv.models.pieChart()
			.x(function(d) { return d[0] })
			.y(function(d) { return d[1] })
			//.showLabels(false)
			.color(d3.scale.colorset{{id}}().range())
			.width(width)
			.height(height);

		  d3.select("#Chart{{id}} svg")
			  .datum(data{{id}})
			  //.datum(testdata)
			.transition().duration(500)
			  .attr('width', width)
			  .attr('height', height)
			  .call(chart);
		nv.utils.windowResize(chart.update);	  
		return chart;
	});
</script>
{% endif %}
