<!DOCTYPE html>
<html>
	<head>
		<title>Plot3</title>

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/global_style.css" />
		<link rel="stylesheet" href="stylesheets/frontpage_style.css" />
		<link rel="stylesheet" href="stylesheets/sankeyStyle.css" />
		<script src="javascript/jquery.js" type="text/javascript"></script>

		<script type="text/javascript">
			function get_random_color() {
				var letters = '0123456789ABCDEF'.split('');
				var color = '#';
				for (var i = 0; i < 6; i++ ) {
					color += letters[Math.round(Math.random() * 15)];
				}
				return color;
			}

			$(document).ready(function() {
				$('header').css('height', ($(window).height()-20).toString()+'px');

				//$('nav').css('margin-top', ($(window).height()-630).toString()+'px');

				$('#header_title').css('padding-top', (($(window).height()-460)/2).toString()+'px');
				$('#header_title').css('padding-bottom', (($(window).height()-460)/2).toString()+'px');

				var rand_color = get_random_color().toString();

				$('#title_num').css('color', rand_color);
				$('.emph').css('color', rand_color);

				$('.textbox').focus(function() {
					$(this).css('border-color', rand_color);
				});
				$('.textbox').blur(function() {
					$(this).css('border-color', '#111');
				});

				function filterPath(string) {
					return string
						.replace(/^\//,'')
						.replace(/(index|default).[a-zA-Z]{3,4}$/,'')
						.replace(/\/$/,'');
				}
				var locationPath = filterPath(location.pathname);
				var scrollElem = scrollableElement('html', 'body');
				 
				$('a[href*=#]').each(function() {
					var thisPath = filterPath(this.pathname) || locationPath;
					if (locationPath == thisPath
					&& (location.hostname == this.hostname || !this.hostname)
					&& this.hash.replace(/#/,'') ) {
						var $target = $(this.hash), target = this.hash;
						if (target) {
							var targetOffset = $target.offset().top;
							$(this).click(function(event) {
								event.preventDefault();
								$(scrollElem).animate({scrollTop: targetOffset}, 400, function() {
									location.hash = target;
								});
							});
						}
					}
				});
			 
				// use the first element that is "scrollable"
				function scrollableElement(els) {
					for (var i = 0, argLength = arguments.length; i <argLength; i++) {
						var el = arguments[i],
								$scrollElement = $(el);
						if ($scrollElement.scrollTop()> 0) {
							return el;
						} else {
							$scrollElement.scrollTop(1);
							var isScrollable = $scrollElement.scrollTop()> 0;
							$scrollElement.scrollTop(0);
							if (isScrollable) {
								return el;
							}
						}
					}
					return [];
				}
				
				$('#introsvg').css('height', ($('#introsvg').width()*1.35).toString()+'px');
				$('#introsvg svg').css('height', '100%');
				$('#introsvg svg').css('width', '100%');

				//$('#introbtn').attr('onmouseup',function() {window.scrollBy(0,100);});
			});
		</script>
	</head>
	<body>
		<!--[if lt IE 9]>
			<strong>Please use Internet Explorer 9 or larger, or get a modern browser like Google Chrome.</strong>
		<![endif]-->
		<div class="container">
			<span id="login_frontpage_text">Already a Plot3 User?</span>
			<input type="button" class="button" id="login_frontpage" value="Log In" onmouseup="window.location='/login'" />
			<span id="plot_frontpage_text">Skip the signup. Just make a plot!</span>
			<input type="button" class="button" id="plot_frontpage" value="  Plot  " onmouseup="window.location='/plotSomething'" />
			<header>
				<div id="header_title">
					<h1 >Plot<span id="title_num">3</span></h1>
				</div>
				<nav>
					<ul>
						<li><a href="#intro" id="introbtn">Intro</a></li>
						<li><a href="/signup">Sign Up</a></li>
					</ul>
				</nav>
			</header>
			<article>
 				<h1 id="intro">Introduction</h1>
 				<div id="introsvg">
 					<!--[if lt IE 9>
						<img id="ieintro" src="content/P3intro.png" width="800" />
						<script type="text/javascript">
							$(document).ready(function() {
								$('object').css('height', '0px');
							});
						</script>
 					<![endif]-->

 					<object data="content/P3intro_link.svg" type="image/svg+xml"></object>
 				</div>
 			</article>
 			<footer>
 				
 			</footer>
		</div>
	</body>
</html>