{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<h1>Sign Up</h1>

<br />

<form method="post">
	<label for="username">Username</label> <input type="text" class="textbox" name="username" value={{Uname}}> {{w1}}
	<label for="password">Password</label> <input type="password" class="textbox" name="password" > {{w2}}
	<label for="password2">Retype Password</label> <input type="password" class="textbox" name="verify" > {{w3}}
	<label for="email">Email (optional)</label> <input type="text" class="textbox long" name="email" value={{Uem}}> {{w4}}

	<label></label>

	<input type="submit" name="submit" class="button" value="Sign Up" />
</form>

{% endblock %}